.input{
  height: 1.3rem;
  width: 77%;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  &.correct {
    border: solid 3px green ;
    text-align: center;
  }
  &.incorrect {
    border: solid 3px red ;
    text-align: center;
  }
  &-container {
    width: 80%;
  }
}