.quiz-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &-container {
    width: 88%;
    text-align: center;
  }
  &-button{
    margin: 1rem;
    border-radius: 5px;
    border: solid 3px #0F32AE;
    padding: 6px 12px;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
    }
    &-nodisplay {
      display: none;
    }
  }
}