.header{
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 800px) {
    width: 100%;
  }
  
  &-logo {
    cursor: pointer;
    &-image {
      width: 100px;
      @media screen and (max-width: 800px) {
        width: 60px;
      }
    }
  }
  
  &-slogan {
    text-align: center;
    color: white;
    font-weight: bold;
    margin: 0 20px;
  }
}

.button {
  background-color: white;
  padding: 5px 10px;
  border: solid 4px #F1CD52;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
    filter: saturate(2);
  }
}


.modal {
  width: 60vw;
  font-size: 16px;
  background-color: white;
  border: solid 4px #F1CD52;
  border-radius: 5px;
  @media screen and (max-width: 800px) {
    width: 94vw;
  }
}
.modal > .modal-header {
  width: 97%;
  border-bottom: 1px solid gray;
  font-size: 20px;
  font-style: italic;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  font-style: italic;
  padding: 10px 5px;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: 5px;
  top: 5px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 2px solid #F1CD52;
}
