.options {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: auto;
}

.option {
  font-weight: bold;
  margin-bottom: 1.2rem;
  font-size: 16px;
  height: 2.3rem;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;

  &:hover {
    background-color: #F7BB0F;
    transform: scale(1.03);
  }
  &:disabled {
    pointer-events: none;
  }
  &.wrong {
    background-color: red;
    color: white;
  }
  &.option.true {
    background-color: green;
    color: white;
  }
}

